#root {
  padding: 20px;
  display: grid;
  gap: 15px;
  justify-items: center;
  color: rgb(8, 8, 45);
}

h1 {
  font-size: 2.4rem;
  font-weight: 500;
}

#root > p {
  font-size: 2rem;
}

body {
  min-height: 100vh;
  background-image: radial-gradient(rgb(251, 251, 149), rgb(153, 181, 247));
  background-attachment: fixed;
}

.info-div {
  margin: 15px 0 20px 0;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  column-gap: 50px;
  row-gap: 25px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.rules {
  line-height: 1.6;
  flex-basis: 450px;
  border: 6px ridge rgba(156, 36, 36, 0.71);
  padding: 20px;
  background-color: rgb(247, 226, 198);
  color: black;
  border-radius: 14px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
}

h2 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.backpack-wrapper {
  display: flex;
  gap: 30px;
}

.backpack {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 12px;
  column-gap: 8px;
  border: 1px solid yellow;
  padding: 18px;
  border-radius: 10px;
  background-color: rgb(54, 185, 54);
}

.backpack > div {
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.scoreboard-div {
  flex-basis: 250px;
  background-color: rgb(47, 47, 138);
  display: grid;
  padding: 20px;
  border: 2px solid rgb(245, 209, 161);
  color: yellow;
  border-radius: 8px;
  font-family: "Courier New", Courier, monospace;
}

.scoreboard-div > h2 {
  font-size: 2rem;
}

.current-score {
  margin: 5px 0 10px 0;
}

.score-line {
  display: flex;
  gap: 20px;
}

.score-line > span:first-child {
  flex-basis: 135px;
}

@keyframes pop-up {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  80% {
    transform: scale(var(--eighty-percent-scale));
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.game-status-div {
  margin-top: 20px;
  background-color: rgb(203, 222, 228);
  color: rgb(8, 8, 45);
  padding: 25px 35px;
  display: grid;
  justify-items: center;
  gap: 15px;
  border: 4px ridge gold;
  border-radius: 8px;
  font-size: 1.7rem;
  animation: pop-up 650ms ease-out;
  --eighty-percent-scale: 1.25;
}

.game-status-div.win {
  width: min(500px, 75%);
}

.game-status-div p {
  text-align: center;
  line-height: 1.5;
}

.game-status-div > p:first-child {
  font-weight: 500;
  font-size: 2.6rem;
  animation: pop-up 650ms ease-out;
  --eighty-percent-scale: 2.5;
}

.game-status-div.win > div > p:first-child {
  margin-bottom: 10px;
}

.game-status-div > button {
  margin-top: 15px;
  font-size: 2rem;
  padding: 10px 18px;
  background-color: rgb(47, 47, 138);
  color: yellow;
  font-weight: 500;
  font-family: "Courier New", Courier, monospace;
  border: 2px outset silver;
  border-radius: 15px;
  will-change: transform;
  transition: transform 100ms;
}

@media (hover: hover) {
  .game-status-div > button:hover {
    background-color: rgb(33, 33, 104);
  }
}

.game-status-div > button:active {
  border-style: inset;
  transform: scale(0.95);
}
